{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>
   

    .card {
        border: none;
        border-radius: 10px;
        font-size:20px;
    }

.c-details span {
    font-weight: 300;
    font-size: 17px
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.badge span {
    background-color: #fffbec;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #fed85d;
    justify-content: center;
    align-items: center
}

.progress {
    height: 10px;
    border-radius: 10px
}

.progress div {
    background-color: red
}

.text1 {
    font-size: 14px;
    font-weight: 600
}
.txt{
  font-size:20px;
}
.text2 {
    color: #a5aec0
}
</style>


<style>
  .order-card {
      color: #fff;
      background: linear-gradient(45deg,#4099ff,#73b4ff);
      border-radius: 5px;
      box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
      border: none;
      margin-top: 20px;
      width: 100%;
  }
  
  .card-d .card-block {
      padding-top: 15px;
      padding-left: 25px;
      padding-right: 25px;
      padding-bottom:10px;
      position: relative;
  }
  
  .progress-circle {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 70px;
      height: 70px;
      background: conic-gradient(
          #ffffff 0% {{ x.progress }}%,
          rgba(255, 255, 255, 0.3) {{ x.progress }}% 100%
      );
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .progress-circle::before {
      content: "";
      position: absolute;
      width: 80%;
      height: 80%;
      background-color: #4099ff;
      border-radius: 50%;
  }

  #progress-text {
      position: relative;
      font-size: 18px;
      color: white;
      z-index: 1;
  }
  .scrolling-wrapper{
      overflow-x: auto;
  } 
</style>

<div class="container mt-5 mb-3 col-11">
    <div class="text-center wow fadeInUp" data-wow-delay="0.5s">
        <h6 class="section-title bg-white text-center text-primary px-3">
          Courses
        </h6>
        <h1 class="">Popular Topics</h1>
    </div>
    <div class="p-4">
    
      <div class="container-fluid wow fadeInUp" data-wow-delay="0.3s">
              <div class="scrolling-wrapper row flex-row flex-nowrap pb-4">
                  {% for x in subject_list %}
                  <div class="custom-carousel-item col-md-5 col-lg-3 col-10">
                    <a href="{% url 'subject_desc' x.subject.name %}">
                        <div class="card-d order-card" id="{{x.subject.name}}">
                            <div class="card-block">
                                <h6 class="m-b-20">{{ x.subject.branch }}</h6>
                                <h2 class="text-right py-3">{{ x.subject.name }}</h2>
                                <p class="m-b-0"><span class="f-right"><i class="fas fa-eye"></i> {{ x.subject.views }}</span></p>
                                <div class="progress-circle" id="progress-circle"
                                style="background: conic-gradient(#ffffff 0% {{ x.progress }}%, rgba(255, 255, 255, 0.3) {{ x.progress }}% 100%);">>
                                    <span id="progress-text">{{ x.progress }}%</span>
                                </div>
                            </div>
                        </div>
                    </a>
                  </div>
                  {% endfor %}             
              </div>
      </div>
  </div>
</div>

<div class="pages">
    <div class="flex row justify-content-center h2" style="text-align: center;">Topics</div>
    <div class="mx-4 d-none show">
        <div class="overflow-auto" style="border-radius: 20px;">
            <table class="table table-bordered text-white" style="border-color: rgb(50, 50, 50); background-color: rgb(17, 17, 17);">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">#</th>
                        <th scope="col" class="text-center">title</th>
                        <th scope="col" class="text-center">link</th>
                        <th scope="col" class="text-center">description</th>
                        <th scope="col" class="text-center">likes</th>
                        <th scope="col" class="text-center">Revision</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <th scope="row">
                                <div class="form-check">
                                    <input class="form-check-input border-3 item-status-checkbox" type="checkbox" value="{{ item.id }}" id="flexCheckDefault" {% if request.user in item.completed_by.all %} checked {% endif %}>   
                                </div>
                            </th>
                            <td class="text-center">{{item.title}}</td>
                            <td class="text-center" style="cursor:pointer;">
                                <a href="{{ item.link }}"><img src="{% static 'img/youtube-brands-solid.svg' %}" style="height: 30px;" alt=""></a>
                            </td>
                            <td class="text-center">{{item.description}}</td>
                            <td class="text-center">
                                <span class="like-btn" data-item-id="{{ item.id }}">
                                    <i class="fas fa-thumbs-up {% if request.user in item.liked_by.all %} liked{% endif %}"></i>
                                </span> 
                                <span class="like-count">{{item.likes}}</span>
                            </td>
                            <td class="text-center">
                                <div class="form-check form-switch">
                                    <input class="form-check-input revision" type="checkbox" id="flexSwitchCheckDefault" value="{{ item.id }}" {% if request.user in item.revision_by.all %} checked {% endif %}>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}