<style>body{
   
    background:#f7f8fa
 }
 
 .avatar-xxl {
     height: 7rem;
     width: 7rem;
 }
 
 .card {
     margin-bottom: 20px;
     -webkit-box-shadow: 0 2px 3px #eaedf2;
     box-shadow: 0 2px 3px #eaedf2;
 }
 
 .pb-0 {
     padding-bottom: 0!important;
 }
 
 .font-size-16 {
     font-size: 16px!important;
 }
 .avatar-title {
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     background-color: #038edc;
     color: #fff;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     font-weight: 500;
     height: 100%;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     width: 100%;
 }
 
 .bg-soft-primary {
     background-color: rgba(3,142,220,.15)!important;
 }
 .rounded-circle {
     border-radius: 50%!important;
 }
 
 .nav-tabs-custom .nav-item .nav-link.active {
     color: #038edc;
 }
 .nav-tabs-custom .nav-item .nav-link {
     border: none;
 }
 .nav-tabs-custom .nav-item .nav-link.active {
     color: #038edc;
 }
 
 .avatar-group {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     padding-left: 12px;
 }
 
 .border-end {
     border-right: 1px solid #eff0f2 !important;
 }
 
 .d-inline-block {
     display: inline-block!important;
 }
 
 .badge-soft-danger {
     color: #f34e4e;
     background-color: rgba(243,78,78,.1);
 }
 
 .badge-soft-warning {
     color: #f7cc53;
     background-color: rgba(247,204,83,.1);
 }
 
 .badge-soft-success {
     color: #51d28c;
     background-color: rgba(81,210,140,.1);
 }
 
 .avatar-group .avatar-group-item {
     margin-left: -14px;
     border: 2px solid #fff;
     border-radius: 50%;
     -webkit-transition: all .2s;
     transition: all .2s;
 }
 
 .avatar-sm {
     height: 2rem;
     width: 2rem;
 }
 
 .nav-tabs-custom .nav-item {
     position: relative;
     color: #343a40;
 }
 
 .nav-tabs-custom .nav-item .nav-link.active:after {
     -webkit-transform: scale(1);
     transform: scale(1);
 }
 
 .nav-tabs-custom .nav-item .nav-link::after {
     content: "";
     background: #038edc;
     height: 2px;
     position: absolute;
     width: 100%;
     left: 0;
     bottom: -2px;
     -webkit-transition: all 250ms ease 0s;
     transition: all 250ms ease 0s;
     -webkit-transform: scale(0);
     transform: scale(0);
 }
 
 .badge-soft-secondary {
     color: #74788d;
     background-color: rgba(116,120,141,.1);
 }
 
 .badge-soft-secondary {
     color: #74788d;
 }
 
 .work-activity {
     position: relative;
     color: #74788d;
     padding-left: 5.5rem
 }
 
 .work-activity::before {
     content: "";
     position: absolute;
     height: 100%;
     top: 0;
     left: 66px;
     border-left: 1px solid rgba(3,142,220,.25)
 }
 
 .work-activity .work-item {
     position: relative;
     border-bottom: 2px dashed #eff0f2;
     margin-bottom: 14px
 }
 
 .work-activity .work-item:last-of-type {
     padding-bottom: 0;
     margin-bottom: 0;
     border: none
 }
 
 .work-activity .work-item::after,.work-activity .work-item::before {
     position: absolute;
     display: block
 }
 
 .work-activity .work-item::before {
     content: attr(data-date);
     left: -157px;
     top: -3px;
     text-align: right;
     font-weight: 500;
     color: #74788d;
     font-size: 12px;
     min-width: 120px
 }
 
 .work-activity .work-item::after {
     content: "";
     width: 10px;
     height: 10px;
     border-radius: 50%;
     left: -26px;
     top: 3px;
     background-color: #fff;
     border: 2px solid #038edc
 }</style>
           <div class="card" style="margin-top: 20px;">
             <div class="tab-content p-4">
                 
 
                 <div class="tab-pane active show" id="tasks-tab" role="tabpanel">
                     <h4 class="card-title mb-4">Tasks</h4>
 
                     <div class="row">
                         <div class="col-xl-12">
                             <div class="task-list-box" id="landing-task">
                                 <div id="task-item-1">
                                     <div class="card task-box rounded-3">
                                         <div class="card-body">
                                             <div class="row align-items-center">
                                                 <div class="col-xl-6 col-sm-5">
                                                     <div class="checklist form-check font-size-15">
                                                         <input type="checkbox" class="form-check-input" id="customCheck1">
                                                         <label class="form-check-label ms-1 task-title" for="customCheck1">Create a New
                                                             Landing</label>
                                                     </div>
                                                 </div><!-- end col -->
                                                 <div class="col-xl-6 col-sm-7">
                                                     <div class="row align-items-center">
                                                         <div class="col-xl-5 col-md-6 col-sm-5">
                                                             <div class="avatar-group mt-3 mt-xl-0 task-assigne">
                                                                 <div class="avatar-group-item">
                                                                     <a href="javascript: void(0);" class="d-inline-block" data-bs-toggle="tooltip" value="member-2" data-bs-placement="top" aria-label="Mark Powell" data-bs-original-title="Mark Powell">
                                                                         <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" class="rounded-circle avatar-sm">
                                                                     </a>
                                                                 </div>
                                                                 <div class="avatar-group-item">
                                                                     <a href="javascript: void(0);" class="d-inline-block" data-bs-toggle="tooltip" value="member-4" data-bs-placement="top" aria-label="Craig Hall" data-bs-original-title="Craig Hall">
                                                                         <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="" class="rounded-circle avatar-sm">
                                                                     </a>
                                                                 </div>
                                                                 <div class="avatar-group-item">
                                                                     <a href="javascript: void(0);" class="d-block" data-bs-toggle="tooltip" value="member-11" data-bs-placement="top" data-bs-original-title="Sarah Kerns">
                                                                         <div class="avatar-sm">
                                                                             <div class="avatar-title rounded-circle bg-info">
                                                                                 S
                                                                             </div>
                                                                         </div>
                                                                     </a>
                                                                 </div>
                                                             </div><!-- end avatar group -->
                                                         </div><!-- end col -->
                                                         <div class="col-xl-7 col-md-6 col-sm-7">
                                                             <div class="d-flex flex-wrap gap-3 mt-3 mt-xl-0 justify-content-md-end">
                                                                 <div>
                                                                     <span class="badge rounded-pill badge-soft-warning font-size-11 task-status">Progress</span>
                                                                 </div>
                                                                 <div>
                                                                     <a href="#" class="mb-0 text-muted fw-medium"><i class="mdi mdi-checkbox-marked-circle-outline me-1"></i>4/8
                                                                     </a>
                                                                 </div>
                                                                 <div>
                                                                     <a href="#" class="mb-0 text-muted fw-medium" data-bs-toggle="modal" data-bs-target=".bs-example-new-task"><i class="mdi mdi-square-edit-outline font-size-16 align-middle" onclick="editTask('task-item-1')"></i></a>
                                                                 </div>
                                                                 <div>
                                                                     <a href="#" class="delete-item" onclick="deleteProjects('task-item-1')">
                                                                         <i class="mdi mdi-trash-can-outline align-middle font-size-16 text-danger"></i>
                                                                     </a>
                                                                 </div>
                                                             </div>
                                                         </div><!-- end col -->
                                                     </div><!-- end row -->
                                                 </div><!-- end col -->
                                             </div><!-- end row -->
                                         </div><!-- end cardbody -->
                                     </div><!-- end card -->
                                 </div>
                             </div><!-- end -->
 
                             <div class="task-list-box" id="design-task">
                                 <div id="task-item-2">
                                     <div class="card task-box rounded-3">
                                         <div class="card-body">
                                             <div class="row align-items-center">
                                                 <div class="col-xl-6 col-sm-5">
                                                     <div class="checklist form-check font-size-15">
                                                         <input type="checkbox" class="form-check-input" id="customCheck2">
                                                         <label class="form-check-label ms-1 task-title" for="customCheck2">Create a Layout
                                                             Design</label>
                                                     </div>
                                                 </div><!-- end col -->
                                                 <div class="col-xl-6 col-sm-7">
                                                     <div class="row align-items-center">
                                                         <div class="col-xl-5 col-md-6 col-sm-5">
                                                             <div class="avatar-group mt-3 mt-xl-0 task-assigne">
                                                                 <div class="avatar-group-item">
                                                                     <a href="javascript: void(0);" class="d-inline-block" value="member-3" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Terrell Soto" data-bs-original-title="Terrell Soto">
                                                                         <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" class="rounded-circle avatar-sm">
                                                                     </a>
                                                                 </div>
                                                                 <div class="avatar-group-item">
                                                                     <a href="javascript: void(0);" class="d-inline-block" value="member-2" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Ruhi Shah" data-bs-original-title="Ruhi Shah">
                                                                         <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" class="rounded-circle avatar-sm">
                                                                     </a>
                                                                 </div>
                                                                 <div class="avatar-group-item">
                                                                     <a href="javascript: void(0);" class="d-inline-block" value="member-1" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Ruhi Shah" data-bs-original-title="Ruhi Shah">
                                                                         <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="rounded-circle avatar-sm">
                                                                     </a>
                                                                 </div>
                                                             </div><!-- end avatar group -->
                                                         </div><!-- end col -->
                                                         <div class="col-xl-7 col-md-6 col-sm-7">
                                                             <div class="d-flex flex-wrap gap-3 mt-3 mt-xl-0 justify-content-md-end">
                                                                 <div>
                                                                     <span class="badge rounded-pill badge-soft-warning font-size-11 task-status">Progress</span>
                                                                 </div>
                                                                 <div>
                                                                     <a href="#" class="mb-0 text-muted fw-medium"><i class="mdi mdi-checkbox-marked-circle-outline me-1"></i>8/12
                                                                     </a>
                                                                 </div>
                                                                 <div>
                                                                     <a href="#" class="mb-0 text-muted fw-medium" data-bs-toggle="modal" data-bs-target=".bs-example-new-task"><i class="mdi mdi-square-edit-outline font-size-16 align-middle" onclick="editTask('task-item-2')"></i></a>
                                                                 </div>
                                                                 <div>
                                                                     <a href="#" class="delete-item" onclick="deleteProjects('task-item-2')">
                                                                         <i class="mdi mdi-trash-can-outline font-size-16 text-danger align-middle"></i>
                                                                     </a>
                                                                 </div>
                                                             </div>
                                                         </div><!-- end col -->
                                                     </div><!-- end row -->
                                                 </div><!-- end col -->
                                             </div><!-- end row -->
                                         </div><!-- end cardbody -->
                                     </div><!-- end card -->
                                 </div>
                             </div><!-- end -->
 
                             <div class="task-list-box" id="blog-task">
                                 <div id="task-item-3">
                                     <div class="card task-box rounded-3">
                                         <div class="card-body">
                                             <div class="row align-items-center">
                                                 <div class="col-xl-6 col-sm-5">
                                                     <div class="checklist form-check font-size-15">
                                                         <input type="checkbox" class="form-check-input" id="customCheck3">
                                                         <label class="form-check-label ms-1 task-title" for="customCheck3">Create a Blog Template
                                                             UI</label>
                                                     </div>
                                                 </div><!-- end col -->
                                                 <div class="col-xl-6 col-sm-7">
                                                     <div class="row align-items-center">
                                                         <div class="col-xl-5 col-md-6 col-sm-5">
                                                             <div class="avatar-group mt-3 mt-xl-0 task-assigne">
                                                                 <div class="avatar-group-item">
                                                                     <a href="javascript: void(0);" class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" value="member-6" aria-label="Scott Edward" data-bs-original-title="Scott Edward">
                                                                         <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" class="rounded-circle avatar-sm">
                                                                     </a>
                                                                 </div>
                                                                 <div class="avatar-group-item">
                                                                     <a href="javascript: void(0);" class="d-block" data-bs-toggle="tooltip" value="member-12" data-bs-placement="top" data-bs-original-title="Denny Silva">
                                                                         <div class="avatar-sm">
                                                                             <div class="avatar-title rounded-circle bg-primary">
                                                                                 D
                                                                             </div>
                                                                         </div>
                                                                     </a>
                                                                 </div>
                                                                 <div class="avatar-group-item">
                                                                     <a href="javascript: void(0);" class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" value="member-10" aria-label="Betty Cooney" data-bs-original-title="Betty Cooney">
                                                                         <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="rounded-circle avatar-sm">
                                                                     </a>
                                                                 </div>
                                                                 <div class="avatar-group-item">
                                                                     <a href="javascript: void(0);" class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" value="member-5" aria-label="Michael Jackson" data-bs-original-title="Michael Jackson">
                                                                         <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="" class="rounded-circle avatar-sm">
                                                                     </a>
                                                                 </div>
                                                             </div><!-- end avatar group -->
                                                         </div><!-- end col -->
                                                         <div class="col-xl-7 col-md-6 col-sm-7">
                                                             <div class="d-flex flex-wrap gap-3 mt-3 mt-xl-0 justify-content-md-end">
                                                                 <div>
                                                                     <span class="badge rounded-pill badge-soft-danger font-size-11 task-status">Pending</span>
                                                                 </div>
                                                                 <div>
                                                                     <a href="#" class="mb-0 text-muted fw-medium"><i class="mdi mdi-checkbox-marked-circle-outline me-1"></i>0/6
                                                                     </a>
                                                                 </div>
                                                                 <div>
                                                                     <a href="#" class="mb-0 text-muted fw-medium" data-bs-toggle="modal" data-bs-target=".bs-example-new-task"><i class="mdi mdi-square-edit-outline font-size-16 align-middle" onclick="editTask('task-item-3')"></i></a>
                                                                 </div>
                                                                 <div>
                                                                     <a href="#" class="delete-item" onclick="deleteProjects('task-item-3')">
                                                                         <i class="mdi mdi-trash-can-outline font-size-16 align-middle text-danger"></i>
                                                                     </a>
                                                                 </div>
                                                             </div>
                                                         </div><!-- end col -->
                                                     </div><!-- end row -->
                                                 </div><!-- end col -->
                                             </div><!-- end row -->
                                         </div><!-- end cardbody -->
                                     </div><!-- end card -->
                                 </div>
                             </div><!-- end -->
 
                             <div class="task-list-box" id="comp-task">
                                 <div id="task-item-4">
                                     <div class="card task-box rounded-3">
                                         <div class="card-body">
                                             <div class="row align-items-center">
                                                 <div class="col-xl-6 col-sm-5">
                                                     <div class="checklist form-check font-size-15">
                                                         <input type="checkbox" class="form-check-input" id="customChat" checked="">
                                                         <label class="form-check-label ms-1 task-title" for="customChat">Chat App Pages</label>
                                                     </div>
                                                 </div><!-- end col -->
                                                 <div class="col-xl-6 col-sm-7">
                                                     <div class="row align-items-center">
                                                         <div class="col-xl-5 col-md-6 col-sm-5">
                                                             <div class="avatar-group mt-3 mt-xl-0 task-assigne">
                                                                 <div class="avatar-group-item">
                                                                     <a href="javascript: void(0);" class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" value="member-3" aria-label="Annmarie Paul" data-bs-original-title="Annmarie Paul">
                                                                         <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" class="rounded-circle avatar-sm">
                                                                     </a>
                                                                 </div>
                                                             </div><!-- end avatar group -->
                                                         </div><!-- end col -->
                                                         <div class="col-xl-7 col-md-6 col-sm-7">
                                                             <div class="d-flex flex-wrap gap-3 mt-3 mt-xl-0 justify-content-md-end">
                                                                 <div>
                                                                     <span class="badge rounded-pill badge-soft-success font-size-11 task-status">Completed</span>
                                                                 </div>
                                                                 <div>
                                                                     <a href="#" class="mb-0 text-muted fw-medium"><i class="mdi mdi-checkbox-marked-circle-outline me-1"></i>3/3
                                                                     </a>
                                                                 </div>
                                                                 <div>
                                                                     <a href="#" class="mb-0 text-muted fw-medium" data-bs-toggle="modal" data-bs-target=".bs-example-new-task"><i class="mdi mdi-square-edit-outline font-size-16 align-middle" onclick="editTask('task-item-4')"></i></a>
                                                                 </div>
                                                                 <div>
                                                                     <a href="#" class="delete-item" onclick="deleteProjects('task-item-4')">
                                                                         <i class="mdi mdi-trash-can-outline font-size-16 align-middle text-danger"></i>
                                                                     </a>
                                                                 </div>
                                                             </div>
                                                         </div><!-- end col -->
                                                     </div><!-- end row -->
                                                 </div><!-- end col -->
                                             </div><!-- end row -->
                                         </div><!-- end cardbody -->
                                     </div><!-- end card -->
                                 </div>
                             </div><!-- end -->
 
                             <div class="task-list-box" id="app-task">
                                 <div id="task-item-5">
                                     <div class="card task-box rounded-3">
                                         <div class="card-body">
                                             <div class="row align-items-center">
                                                 <div class="col-xl-6 col-sm-5">
                                                     <div class="checklist form-check font-size-15">
                                                         <input type="checkbox" class="form-check-input" id="customComponents">
                                                         <label class="form-check-label ms-1 task-title" for="customComponents">Components
                                                             Pages</label>
                                                     </div>
                                                 </div><!-- end col -->
                                                 <div class="col-xl-6 col-sm-7">
                                                     <div class="row align-items-center">
                                                         <div class="col-xl-5 col-md-6 col-sm-5">
                                                             <div class="avatar-group mt-3 mt-xl-0 task-assigne">
                                                                 <div class="avatar-group-item">
                                                                     <a href="javascript: void(0);" class="d-inline-block" data-bs-toggle="tooltip" value="member-7" data-bs-placement="top" aria-label="Eric Williams" data-bs-original-title="Eric Williams">
                                                                         <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" class="rounded-circle avatar-sm">
                                                                     </a>
                                                                 </div>
                                                                 <div class="avatar-group-item">
                                                                     <a href="javascript: void(0);" class="d-inline-block" data-bs-toggle="tooltip" value="member-9" data-bs-placement="top" aria-label="Richard Millar" data-bs-original-title="Richard Millar">
                                                                         <img src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="" class="rounded-circle avatar-sm">
                                                                     </a>
                                                                 </div>
                                                                 <div class="avatar-group-item">
                                                                     <a href="javascript: void(0);" class="d-inline-block" data-bs-toggle="tooltip" value="member-8" data-bs-placement="top" aria-label="Tama Turner" data-bs-original-title="Tama Turner">
                                                                         <img src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="" class="rounded-circle avatar-sm">
                                                                     </a>
                                                                 </div>
                                                             </div><!-- end avatar group -->
                                                         </div><!-- end col -->
                                                         <div class="col-xl-7 col-md-6 col-sm-7">
                                                             <div class="d-flex flex-wrap gap-3 mt-3 mt-xl-0 justify-content-md-end">
                                                                 <div>
                                                                     <span class="badge rounded-pill badge-soft-danger font-size-11 task-status">Pending</span>
                                                                 </div>
                                                                 <div>
                                                                     <a href="#" class="mb-0 text-muted fw-medium"><i class="mdi mdi-checkbox-marked-circle-outline me-1"></i>7/17
                                                                     </a>
                                                                 </div>
                                                                 <div>
                                                                     <a href="#" class="mb-0 text-muted fw-medium" data-bs-toggle="modal" data-bs-target=".bs-example-new-task"><i class="mdi mdi-square-edit-outline font-size-16 align-middle" onclick="editTask('task-item-5')"></i></a>
                                                                 </div>
                                                                 <div>
                                                                     <a href="#" class="delete-item" onclick="deleteProjects('task-item-5')">
                                                                         <i class="mdi mdi-trash-can-outline font-size-16 align-middle text-danger"></i>
                                                                     </a>
                                                                 </div>
                                                             </div>
                                                         </div><!-- end col -->
                                                     </div><!-- end row -->
                                                 </div><!-- end col -->
                                             </div><!-- end row -->
                                         </div><!-- end cardbody -->
                                     </div><!-- end card -->
                                 </div>
                             </div><!-- end -->
 
                             <div class="task-list-box" id="gallery-task">
                                 <div id="task-item-6">
                                     <div class="card task-box rounded-3">
                                         <div class="card-body">
                                             <div class="row align-items-center">
                                                 <div class="col-xl-6 col-sm-5">
                                                     <div class="checklist form-check font-size-15">
                                                         <input type="checkbox" class="form-check-input" id="customGallry" checked="">
                                                         <label class="form-check-label ms-1 task-title" for="customGallry">Create a Gallery
                                                             Pages</label>
                                                     </div>
                                                 </div><!-- end col -->
                                                 <div class="col-xl-6 col-sm-7">
                                                     <div class="row align-items-center">
                                                         <div class="col-xl-5 col-md-6 col-sm-5">
                                                             <div class="avatar-group mt-3 mt-xl-0 task-assigne">
                                                                 <div class="avatar-group-item">
                                                                     <a href="javascript: void(0);" class="d-inline-block" data-bs-toggle="tooltip" value="member-5" data-bs-placement="top" aria-label="John Walker" data-bs-original-title="John Walker">
                                                                         <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="" class="rounded-circle avatar-sm">
                                                                     </a>
                                                                 </div>
                                                                 <div class="avatar-group-item">
                                                                     <a href="javascript: void(0);" class="d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" value="member-4" aria-label="Willie Garcia" data-bs-original-title="Willie Garcia">
                                                                         <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="" class="rounded-circle avatar-sm">
                                                                     </a>
                                                                 </div>
                                                             </div><!-- end avatar group -->
                                                         </div><!-- end col -->
                                                         <div class="col-xl-7 col-md-6 col-sm-7">
                                                             <div class="d-flex flex-wrap gap-3 mt-3 mt-xl-0 justify-content-md-end">
                                                                 <div>
                                                                     <span class="badge rounded-pill badge-soft-success font-size-11 task-status">Completed</span>
                                                                 </div>
                                                                 <div>
                                                                     <a href="#" class="mb-0 text-muted fw-medium"><i class="mdi mdi-checkbox-marked-circle-outline me-1"></i>5/5
                                                                     </a>
                                                                 </div>
                                                                 <div>
                                                                     <a href="#" class="mb-0 text-muted fw-medium" data-bs-toggle="modal" data-bs-target=".bs-example-new-task"><i class="mdi mdi-square-edit-outline font-size-16 align-middle" onclick="editTask('task-item-6')"></i></a>
                                                                 </div>
                                                                 <div>
                                                                     <a href="#" class="delete-item" onclick="deleteProjects('task-item-6')">
                                                                         <i class="mdi mdi-trash-can-outline font-size-16 align-middle text-danger"></i>
                                                                     </a>
                                                                 </div>
                                                             </div>
                                                         </div><!-- end col -->
                                                     </div><!-- end row -->
                                                 </div><!-- end col -->
                                             </div><!-- end row -->
                                         </div><!-- end cardbody -->
                                     </div><!-- end card -->
                                 </div>
                             </div><!-- end -->
 
                         </div><!-- end col -->
                     </div><!-- end row -->
                 </div><!-- end tab pane -->
 
                 
             </div>
         </div><!-- end card -->





         <style>
            .menu-wrapper {
            position: relative; /* Required for arrow keys to be absolutely positioned child divs inside menu-wrapper parent. */
           
            height: 200px;  /* Intentionally shorter than menu items, to hide horizontal scroll bar. */
          
            overflow-x: hidden;
            overflow-y: hidden;
            display: flex;
            align-items: center;
            padding: 20px 20px;  /* Inner space on the left and right sides of wrapper must match flexbox gap space between menu items. */
            box-sizing: border-box;
          }
          
          ul {
            list-style: none; /* Hide unordered list bullet. */
          }
          
          .menu {
            height: 700px;
            /* background: #f3f3f3; */
            box-sizing: border-box;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
            position: relative; /* Required for animation. */
            display: flex;
            align-items: center;
            gap: 20px;  /* Flexbox space between menu items must match the left/right padding of menu wrapper. */
          }
          
          .menu .item {
            /* Weird - Visible items inherit this from .menu but not hidden items# 6-8 when they slide in and can be seen. */
            width: 300px;
            
            
            
           
            display: flex;            /* Needed to center number in middle of menu item, solution # 1 of 3. */
            align-items: center;      /* Needed to vertically center number in middle of menu item, solution # 2 of 3. */
            justify-content: center;  /* Needed to horizontally center number in middle of menu item, solution # 3 of 3. */
          }
          
          .arrow {
            position: absolute;
            top: 0;
            bottom: 0;
            /* width: 3em; Excluding width means that arrow div will only be as wide as it needs to be to contain the < or > characters. */
          }
          
          .left-arrow {
            left: 0;
          }
          
          .right-arrow {
            right: 0px;
          }
          
          .hidden {
            display: none;
          }
          
          
          
          </style>
          
          <div id="menu-wrapper" class="menu-wrapper col-11 mx-2 mx-lg-5 mx-md-5 px-4">
              <ul id="menu" class="menu">
              {% for x in subject_list %}
                  <li class="item">
                <div class="custom-carousel-item col-md-12 col-12 col-lg-12">
                  <a href="{% url 'subject_desc' x.subject.name %}">
                      <div class="card-d order-card">
                          <div class="card-block">
                              <h6 class="m-b-20">{{ x.subject.branch }}</h6>
                              <h2 class="text-right">{{ x.subject.name }}</h2>
                              <p class="m-b-0"><span class="f-right">{{ x.subject.views }}</span></p>
                              <div class="progress-circle" id="progress-circle"
                              style="background: conic-gradient(#ffffff 0% {{ x.progress }}%, rgba(255, 255, 255, 0.3) {{ x.progress }}% 100%);">
                                  <span id="progress-text">{{x.progress}}%</span>
                              </div>
                          </div>
                      </div>
                  </a>
                  </div>
              </li>
              {% endfor %}
             
              </ul>
          
              <div class="arrows">
                  <button id="leftArrow" class="left-arrow arrow hidden border-0 h-25 rounded-circle" style="margin-top: 75px; font-size: 30px; color: red; background-color: #faf6f6;">
                      <<
                  </button>
                  <button id="rightArrow" class="right-arrow arrow border-0 h-25 rounded-circle" style="margin-top: 75px; font-size: 30px; color: red; background-color:  #faf6f6;">
                      >>
                  </button>
              </div>
          
          </div>
          
          <script>
            const leftArrow = document.getElementById('leftArrow');
          const rightArrow = document.getElementById('rightArrow');
          const menu = document.getElementById('menu');
          
          // Establish unchanging constants and initialize variables.
          const menuWrapperSize = document.getElementById('menu-wrapper').offsetWidth; // Unchanging area of the screen where the menu is always visible.
          const menuSize = document.getElementById('menu').offsetWidth;	// Includes itemsCount * itemSize but also factors in space between items added by flexbox.
          const menuInvisibleSize = Math.max(menuSize - menuWrapperSize, 0);	// Fixed portion of scrollable menu that is hidden at all times, or zero if menu fits within container.
          const arrowSize = rightArrow.offsetWidth;	// Width of each arrow div. In current design, this equates to 12px. Still computes value even if right arrow is hidden, which it is at time this line is executed.
          const menuEndOffset = Math.max(menuInvisibleSize - arrowSize, 0);	// Fixed portion of scrollable menu that is not obscured by an overlapping arrow key, or zero if no arrow keys are needed.
          const itemsCount = document.getElementsByClassName('item').length; // Number of menu items.
          const itemSize = document.getElementsByClassName('item')[0].offsetWidth; // offsetWidth includes borders and padding but not margins of a menu item (since all the same, choose first one in array). FYI, clientWidth includes padding but NOT borders and margins.
          const itemsSpaceBetween = (menuSize - (itemsCount * itemSize)) / (itemsCount - 1);	// Space between menu items is deliberately set to equal menu wrapper padding left/right. In this design it is 20 pixels.
          const distanceInPixels = itemSize + itemsSpaceBetween;	// Distance to scroll per arrow button click equals width of a menu item plus the space to its right or left. In this design, it is 75 + 20 = 95.
          const durationInMilliseconds = 500;
          let starttime = null;
          
          // Iniitially, on page load menu items are left aligned and left arrow is hidden. Let's hide right arrow also if there is no need for it (as when all menu items fit within visible container).
          if (menuInvisibleSize === 0) {
              rightArrow.classList.add("hidden");
          }
          
          // Get current left position of menu in pixels.
          const getMenuPosition = () => {
              return parseFloat(menu.style.left) || 0;	// First time, left property is not set so initialize to 0.
          };
          
          // Get current distance (in pixels) that we have scrolled.
          const getScrolledDistance = () => {
              return -1 * getMenuPosition();	// Negate value because this is the only way it will work.
          };
          
          // After an arrow key is clicked and menu is animating, check to see where we are and determine which arrow key(s) to show, always resulting in at least one arrow key visible. Also, update data at bottom.
          // Notes: o This function is only applicable when all menu items cannot be seen in container at one time and an arrow key is clicked to animate menu. 
          //        o If all menu items fit in visible container, UI will be initially rendered without any arrow keys and this function will never be called.
          const checkPosition = () => {
              // Calculate where we are right now.
              const menuPosition = getScrolledDistance();
          
              // Determine which arrow key(s) to display based on position.
              if (menuPosition <= arrowSize) {			// SHOW RIGHT ARROW if we are scrolling from far left.
                  leftArrow.classList.add("hidden");		// FYI, this will NOT create duplicate hidden class if leftArrow already contains it.	
                  rightArrow.classList.remove("hidden");
              } else if (menuPosition < menuEndOffset) {	// SHOW BOTH ARROWS when in the middle of the menu.
                  leftArrow.classList.remove("hidden");
                  rightArrow.classList.remove("hidden");
              } else if (menuPosition >= menuEndOffset) {	// SHOW LEFT ARROW if we are scrolling as far right as we can go.
                  leftArrow.classList.remove("hidden");
                  rightArrow.classList.add("hidden");
              }
          
              // Print changing scroll position under the menu for informational purposes.
              document.querySelector("#print-menu-position span").textContent = menuPosition + 'px';
          };
          
          const animateMenu = (timestamp, startingPoint, distance) => {
              const runtime = timestamp - starttime;
              let progress = runtime / durationInMilliseconds;
              progress = Math.min(progress, 1);
              let newValue = (startingPoint + (distance * progress)).toFixed(2) + 'px';
              menu.style.left = newValue;
          
              if (runtime < durationInMilliseconds) {	// If we still have time remaining...
                  requestAnimationFrame(function(timestamp) {	// Request another animation frame and recursively call THIS function.
                      animateMenu(timestamp, startingPoint, distance);
                  })
              }
              checkPosition();
          };
           
          const animationFramesSetup = (timestamp, travelDistanceInPixels) => {
              timestamp = timestamp || new Date().getTime();	// if browser doesn't support requestAnimationFrame, generate our own timestamp using Date.
              starttime = timestamp;
              const startingPoint = getMenuPosition();		// This cannot be defined up top in constants. Need to read current value only during initial setup of arrow button click.
              animateMenu(timestamp, startingPoint, travelDistanceInPixels);
          };
          
          rightArrow.addEventListener('click', () => requestAnimationFrame(
              timestamp => animationFramesSetup(timestamp, -1 * distanceInPixels)
          ));
              
          leftArrow.addEventListener('click', () => requestAnimationFrame(
              timestamp => animationFramesSetup(timestamp, distanceInPixels)
          ));
          
          // Print unchanging values under the menu for informational purposes.
          document.querySelector("#print-wrapper-size span").textContent = menuWrapperSize + 'px';
          document.querySelector("#print-menu-size span").textContent = menuSize + 'px';
          document.querySelector("#print-menu-invisible-size span").textContent = menuInvisibleSize + 'px';
          document.querySelector("#print-menu-end-offset span").textContent = menuEndOffset + 'px';
          
          </script>